body {
  background-color: rgb(39, 37, 37);
}

.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  padding: 1rem;
  margin: 2rem;
  width: 50%;
  min-width: 500px ;

  background: rgb(142, 142, 156);
  background: -moz-linear-gradient(
    152deg,
    rgba(142, 142, 156, 0.22) 0%,
    rgba(158, 170, 172, 0.14729219324448528) 100%
  );
  background: -webkit-linear-gradient(
    152deg,
    rgba(142, 142, 156, 0.22) 0%,
    rgba(158, 170, 172, 0.14729219324448528) 100%
  );
  background: linear-gradient(
    152deg,
    rgba(142, 142, 156, 0.22) 0%,
    rgba(158, 170, 172, 0.14729219324448528) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e8e9c",endColorstr="#9eaaac",GradientType=1);

  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.54);

  border-radius: 10px;

  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background: transparent;
}
